@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* I added this */
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

.buttons { /* I added this */
display: flex;
justify-content: center; /* ? */
gap: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header { /* I added this */
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  padding: 0 25px;
}

.content { /* I added this */
  margin: auto;
}

.footer { /* I added this */
  display: inline-flex;
  justify-content: space-between;
  margin: 0 50px 20px;
  padding: 0 25px;
  background-color: #eee;
}

.left-links, .right-links { /* I added this */
  display: flex;
  gap: 12px;
}

ul { /* I added this */
  list-style: none;
  display: inline-flex;
  align-items: center;
  padding: 0;
}

a { /* I added this */
  text-decoration: none;
  color: #000;
}
/* Jeesh I complicate $h!t */